<p class="delete-warning">Delete <span class="delete-title">{{product.title}}</span>?</p>
<div class="update-block">
    <a href="/admin/deleteConfirmed/{{product.id}}" class="update-link">Yes</a>
    <a href="/admin/catalog" class="update-link">OMG NO</a>
</div>