<nav>
    <div class="NavList">
        <div class="NavList__item">
            <a href="/" {{#if index}}class="active"{{/if}}>Home</a>
        </div>
        <div class="NavList__item">
            <a href="/catalog" {{#if catalog}}class="active"{{/if}}>Catalog</a>
        </div>
    </div>
</nav>