<nav>
    <div class="NavList">
        <div class="NavList__item">
            <a href="/" {{#if index}}class="active" {{/if}}>Home</a>
        </div>
        <div class="NavList__item">
            <a href="/catalog/1" {{#if catalog}}class="active" {{/if}}>Catalog</a>
        </div>
        <div class="NavList__item">
            <a href="/admin/catalog" class="admin-nav{{#if admin_catalog}} active{{/if}}">Admin Catalog</a>
        </div>
        <div class="NavList__item">
            <a href="/admin/new" class="admin-nav{{#if add_item}} active{{/if}}">Add Product</a>
        </div>
        <div class="NavList__item">
            <a href="/auth/login" class="login-nav{{#if login}} active{{/if}}">Log In</a>
        </div>
    </div>
</nav>