<nav>
    <div class="NavList">
        <div class="NavList__item">
            <a href="/">Home</a>
        </div>
        <div class="NavList__item">
            <a href="/catalog">Catalog</a>
        </div>
    </div>
</nav>