<a href="{{#if isAdmin}}/admin{{/if}}/catalog/{{prev thePage}}" class="page-arrow">&larr;</a>
<span class="page-number">{{thePage}}</span>
<a href="{{#if isAdmin}}/admin{{/if}}/catalog/{{next thePage}}" class="page-arrow">&rarr;</a>