<a href="{{#if isAdmin}}/admin{{/if}}/catalog/{{prev currPage}}" class="page-arrow">&larr;</a>
<span class="page-number">{{currPage}}</span>
<a href="{{#if isAdmin}}/admin{{/if}}/catalog/{{next currPage}}" class="page-arrow">&rarr;</a>