<div>
    <form action="{{#if isAdmin}}/admin{{/if}}/catalog/" method="GET" class="form catalog-form">
        <div class="checkbox-row">
            {{#each categories}}
                <label><input type="checkbox" name="category" value="{{this._id}}" class="form-checkbox"> {{this.title}}</label>
            {{/each}}
        </div>
        <div class="row"><button type="submit">Ok!</button></div>
    </form>
</div>
<div class="catalog">
    {{#each itemList}}
    {{#if ../isAdmin}}
    {{>shopItemAdmin this}}
    {{else}}
    {{>shopItem this}}
    {{/if}}
    {{/each}}
</div>
<div class="pagination-block">
    {{#if pagination}}
        {{>pagination this}}
    {{/if}}
</div>