<div class="catalog">
    {{#each itemList}}
    {{#if ../isAdmin}}
    {{>shopItemAdmin this}}
    {{else}}
    {{>shopItem this}}
    {{/if}}
    {{/each}}
</div>
<div class="pagination-block">
    {{#if pagination}}
        {{>pagination this}}
    {{/if}}
</div>